@charset "utf-8";
BODY {PADDING-RIGHT: 0px; PADDING-LEFT: 0px;background: url(../Images/body_bg.jpg) repeat-x #DEEBF3;PADDING-BOTTOM: 0px; margin:0 auto;PADDING-TOP: 0px;font:normal 12px Verdana, Arial, Helvetica, sans-serif;}
h2 {-x-system-font:none;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;line-height:normal;}

A:link {TEXT-DECORATION: none}
a:visited{text-decoration:none;}
a:hover{TEXT-DECORATION: none}

hr {height: 1px;border: 0;border-top: 1px solid #D6EEFA;}

p {font-size:12px;line-height:22px;margin-bottom:1px;margin-top:2px;text-indent:26px;}
* {list-style-type: none;}
* { margin:0; padding:0; list-style:none; }

.index990{width:990px;margin-left:-5px}
.index_right0{border:1px solid #B5CDD9;width:314px;float:left;margin-bottom:5px;margin-left:5px}
.index_right1{border:1px solid #B5CDD9;width:314px;float:left;margin-bottom:5px;margin-left:0}
.index_right_title1{float:left;height:25px;border-bottom:1px solid #B5CDD9;width:316px;font-weight:bold;margin-bottom:3px;line-height:25px;padding-left:3px;background:#F0F4F6 url(/images/modbg_v4_6_0.gif) repeat-x scroll 0 -20px}


.index_right_title0{float:left;height:25px;border-bottom:1px solid #B5CDD9;width:313px;font-weight:bold;margin-bottom:3px;line-height:25px;padding-left:3px;background:#F0F4F6 url(/images/modbg_v4_6_0.gif) repeat-x scroll 0 -20px}

.l1 {width:100%;padding-left:5px;padding-bottom:3px;overflow:hidden;height:18px;line-height:18px;}


DIV {MARGIN: auto; overflow:hidden}
.context-body{width:980px;border:0px;background-color:#ffffff}
.myDiv{width: 960px;margin-top: 10px;border: 0px;}
.myDivForBlog{width: 960px;margin-top: 10px;border: 0px;}
.myDiv li{float:left; width:100%;padding-left:4px;padding-top:4px;padding-bottom:2px;}


.myDiv_lml {float:left;width:700px;margin-top: 10px;overflow: hidden;}
.myDiv_lmr {float:right;width:250px;margin-top: 10px;overflow: hidden;}

.adsDiv{width: 958px;margin-top: 10px;border: 1px solid #F88B28;}
.adsDiv li{float:left; width:100%;padding-left:4px;padding-top:4px;padding-bottom:2px;}

.menuDiv{width: 960px;margin-top: 3px;border: 0px;}

.showLog{width: 505px;float :left;margin-left: 6px;border: 0px solid #F88B28;}

.showLog a{FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none}
.showLog a:hover{FONT-SIZE: 12px; COLOR: #993300; TEXT-DECORATION: underline}
.topListContent{width: 503px;float :left; border-left: 1px solid #F88B28;  border-right: 1px solid #F88B28; border-bottom: 1px solid #F88B28;}
.topListLeft{width: 250px;float :left; border: 0px;}
.topListRight{width: 250px;float :right; border: 0px;}

.myDivLeft{float: right;width: 250px;border: 0px;}
.myDivLeft a{FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none}
.myDivLeft a:hover{FONT-SIZE: 12px; COLOR: #FF7718; TEXT-DECORATION: none}

.myDivRight{float: left;width: 700px;border: 0px;}
.list{float: left;width: 658px; padding-left:60px;border: 0px;}
.list a{FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none}
.list a:hover{FONT-SIZE: 12px; COLOR: #660099; TEXT-DECORATION: underline}

.idcTuijian{float: left;width: 953px;height:25px;line-height:25px;background-color:#F5FAFE; border: 1px solid #99BBDD;padding-left:5px}
.idcTuijian_title{font-weight:bold;color:#BC2931}
.idcTuijian_url a{color:#0A0064;font-weight:bold;text-decoration:none;}
.idcTuijian_url a:hover{color:#BC2931;font-weight:bold;text-decoration:underline;}
.idcTuijian-Content{float:left; width:238px; border-left: 1px solid #FF7300; border-right: 1px solid #FF7300; border-bottom: 1px solid #FF7300;}

.idc_ads_header{float: left;width: 953px;height:80px;background-color:#F5FAFE; border: 1px solid #99BBDD;padding-left:5px}
.idc_ads_header li{color:#BC2931;float:left;width:230px;overflow:hidden;height:20px;line-height:20px;list-style-type:none;list-style:none;}
.idc_ads_header a{color:#0A0064;text-decoration:none;}
.idc_ads_header a:hover{color:#BC2931;text-decoration:none;}

.idc_ads_header li span{color:#BC2931;float:left;width:230px;height:20px;line-height:20px}
.idc_ads_header li span a{color:#999999;text-decoration:none;}
.idc_ads_header li span a:hover{color:#000000;text-decoration:none;}

.idcInfo{float: left;margin-top: 10px;width: 953px;height:25px;line-height:25px; border: 1px solid #999999;padding-left:5px}
.idcInfo a{color:#000000;text-decoration:none;}
.idcInfo a:hover{color:#FF6600;text-decoration:underline;}

.index_search{float:left;width:953px;height:30px;background-color:#FFF7CE; border: 1px solid #E8CA78;padding-left:5px}
.index_search a{color:#000000;text-decoration:none;}
.index_search a:hover{color:#FF6600;text-decoration:underline;}
.index_search_company{float:left;width:190px;height:30px;padding-top:3px}
.index_search_script{float:left;width:190px;height:30px;padding-top:3px}
.index_search_line{float:left;width:180px;height:30px;padding-top:3px}
.index_search_address{float:left;width:130px;height:30px;padding-top:3px}
.index_search_button{float:left;width:80px;height:30px;padding-top:3px;padding-left:20px}

.headerTop{width:960px;height:20px;line-height:20px;text-align: right;margin-top:0px;margin-bottom:3px;background-color:#F8F8F8;border:1px solid #E6E6E6;}
.headerTop a{color:#000000; text-decoration:none;}
.headerTop a:hover{color:#CC3300; text-decoration:underline}

.header{width: 960px;border: 0px solid green;}
.log{float: left;}

.buttonBar{font-weight:bold;float:right;border:0px solid #99BBDD;padding-left:5px; width:750px;}
.buttonBar a{color:#000000;text-decoration:none;}
.buttonBar a:hover{color:#FF0000;text-decoration:none;}
.buttonBar img{float:left; padding:0px; margin:0px; height:60px; padding-left:5px;}
.headerRight{float:right;}
.redStrongFont{color:red;font-weight:bold;}

#wzgg { border:1px solid #ddd; width:958px; background:#efefef; padding:4px 0px; margin-top:5px;}
#wzgg li{ float:left; width:24%; height:22px; line-height:22px; overflow:hidden; padding:0px; margin:0px; padding-left:1%;}

#imggg li{ float:left; width:237px; height:65px; list-style:none; margin:0px; padding:0px; margin-right:4px; padding-top:4px;}
#imggg li.mr0{ margin-right:0px;}
#imggg li img{ width:237px; height:65px;}

.d1{ border:1px solid #F5B669; background:#FFF5DF; width:678px; padding:0px 10px; padding-bottom:5px; float:left; margin-bottom:10px;}
.d1 dl{ width:100%; height:auto; line-height:20px; float:left; padding-top:5px;}
.d1 dt{ float:left; font-weight:bold;}
.d1 dd{ float:left;}
.d1 dd a{ display:block; padding:0px 3px;}
.d1 dd a.on{ background:#2670C0; color:#fff;}
.search{float: left;width: 953px;height:40px;background:url(../Images/search-bg.png) repeat-x;padding-left:5px}
.form{float:left;border:0px}

.fastSearchContent {height:200px; border-left: 1px solid #F88B28; border-right: 1px solid #F88B28; border-bottom: 1px solid #F88B28;}
.inputStyle{BORDER: #94B2DE 1px; FONT-SIZE: 12px; HEIGHT: 13px;width:90px}

.tab-left-search{float:left; height:20px; width:4px; background: url(../Images/tab-left-y.gif) no-repeat;}
.tab-middle-search{float:left; height:20px; width:52px; background: url(../Images/tab-middle-y.gif) repeat;}
.tab-right-search{float:left; height:20px; width:4px; background: url(../Images/tab-right-y.gif) no-repeat;}
.tab-middle-search li{width:48px; float:left; list-style-type: none; text-align:center;}

.tab-left-top{float:left; height:20px; width:4px; background: url(../Images/tab-left-y.gif) no-repeat;}
.tab-middle-top{float:left; height:20px; width:497px; background: url(../Images/tab-middle-y.gif) repeat;}
.tab-right-top{float:left; height:20px; width:4px; background: url(../Images/tab-right-y.gif) no-repeat;}
.tab-middle-top li{width:497px; float:left; list-style-type: none; text-align:left;}

.tab-left-newadd{float:left; height:20px; width:4px; background: url(../Images/tab-left-y.gif) no-repeat;}
.tab-middle-newadd{float:left; height:20px; width:90px; background: url(../Images/tab-middle-y.gif) repeat;}
.tab-right-newadd{float:left; height:20px; width:4px; background: url(../Images/tab-right-y.gif) no-repeat;}

.tab-left-about{float:left; height:20px; width:4px; background: url(../Images/tab-left-y.gif) no-repeat;}
.tab-middle-about{float:left; height:20px; width:84px; background: url(../Images/tab-middle-y.gif) repeat;}
.tab-right-about{float:left; height:20px; width:4px; background: url(../Images/tab-right-y.gif) no-repeat;}
.tab-middle-about li{width:84px; float:left; border:0px; list-style-type: none; text-align:center;}

.div1{border:0px;}
.div2{border:0px; display:none;}
.div3{border:0px; display:none;}
.div4{border:0px; display:none;}

.searchFields{}
.searchFields label{width:85px; float:left}
.searchFields span{width:150px; float:left; align:left}

.flashDiv{float: left;width: 240px;border: 1px solid #BFBFBF;}

.aboutIdceye{width: 190px;float: right;margin-left: 6px;border: 0px solid #BFBFBF;}
.aboutIdceye li{float:left; width:100%;padding-top:4px;padding-bottom:2px;}

.newAddDiv{width: 188px;float: right; border-left: 1px solid #F88B28; border-right: 1px solid #F88B28; border-bottom: 1px solid #F88B28;}
.newAddDiv a{color:#000000;text-decoration:none;}
.newAddDiv a:hover{color:#ff0000;text-decoration:underline;}

.aboutDiv{width: 958px;float: left; border: 1px solid #F88B28;}
.aboutDiv a{color:#ff0000;text-decoration:none;}
.aboutDiv a:hover{color:#ff0000;text-decoration:underline;}
.about_title{padding-left:10px;padding-top:20px;float:left;font-weight:bold}
.about_content{padding-left:30px;width:700px;float:left}

.flashBanner{width: 704px;float: left;margin-left: 6px;margin-top: 10px;border: 0px solid #BFBFBF;}
.flashBanner a{color:#000000;text-decoration:none;}
.flashBanner a:hover{color:#ff0000;text-decoration:underline;}

.commentList{width: 958px;float: right;border: 1px solid #BFBFBF;}
.commentListTitle{MARGIN: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #e2ead2;COLOR: #16387c;border-top:0px;border-bottom: 1px solid #BFBFBF;}

.commentListContent{MARGIN: 2px;border:1px;}
.idc_detail_info{width:95px;float:left;display:block;text-align:right;height:20px;line-height:20px;padding-right:5px}
.idc_detail_info2{width:300px;float:left;text-align:left;height:20px;line-height:20px}
.idc_detail_info3{width:330px;float:right;text-align:left;height:100%}

.topHost1{width: 240px;float: left;border: 1px solid #BFBFBF;}
.bar{height: 28px;padding-top: 0px;border-top: 0px solid #BFBFBF;border-left: 0px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 0px solid #BFBFBF;}
.bar span{padding-right:5px;}
.bar li{list-style-type: none;float:left; padding-left:20px; padding-top:6px; border:0px solid red; height:20px; width:700px;}
.titleImage{float:left; height:20px; width:80px; background: url(../Images/b-1.gif) repeat;}

.bar-a{height: 20px;padding-top: 0px;border-top: 0px solid #BFBFBF;border-left: 0px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 0px solid #BFBFBF;}

.tuijian-left-y{float:left; height:28px; width:7px; background: url(../Images/left-y.gif) no-repeat;}
.tuijian-middle-y{float:left; height:28px; width:226px; background: url(../Images/middle-y.gif) repeat;}
.tuijian-right-y{float:left; height:28px; width:7px; background: url(../Images/right-y.gif) no-repeat;}
.tuijian-middle-y li{float:left; border:0px; list-style-type: none; text-align:left; padding-top:5px; color:#ffffff; font-weight:bold}

.left-b{float:left; height:28px; width:7px; background: url(../Images/left-b.gif) no-repeat;}
.middle-b{float:left; height:28px; width:120px; background: url(../Images/middle-b.gif) repeat;}
.right-b{float:left; height:28px; width:7px; background: url(../Images/right-b.gif) no-repeat;}
.middle-b li{float:left; border:0px; list-style-type: none; text-align:left; padding-top:5px; color:#ffffff; font-weight:bold}

.left-g{float:left; height:28px; width:7px; background: url(../Images/left-g.gif) no-repeat;}
.middle-g{float:left; height:28px; width:120px; background: url(../Images/middle-g.gif) repeat;}
.right-g{float:left; height:28px; width:7px; background: url(../Images/right-g.gif) no-repeat;}
.middle-g li{float:left; border:0px; list-style-type: none; text-align:left; padding-top:5px; color:#ffffff; font-weight:bold}

.left-p{float:left; height:28px; width:7px; background: url(../Images/left-p.gif) no-repeat;}
.middle-p{float:left; height:28px; width:120px; background: url(../Images/middle-p.gif) repeat;}
.right-p{float:left; height:28px; width:7px; background: url(../Images/right-p.gif) no-repeat;}
.middle-p li{float:left; border:0px; list-style-type: none; text-align:left; padding-top:5px; color:#ffffff; font-weight:bold}

.left-r{float:left; height:28px; width:7px; background: url(../Images/left-r.gif) no-repeat;}
.middle-r{float:left; height:28px; width:120px; background: url(../Images/middle-r.gif) repeat;}
.right-r{float:left; height:28px; width:7px; background: url(../Images/right-r.gif) no-repeat;}
.middle-r li{float:left; border:0px; list-style-type: none; text-align:left; padding-top:5px; color:#ffffff; font-weight:bold}

.left-y{float:left; height:28px; width:7px; background: url(../Images/left-y.gif) no-repeat;}
.middle-y{float:left; height:28px; width:120px; background: url(../Images/middle-y.gif) repeat;}
.right-y{float:left; height:28px; width:7px; background: url(../Images/right-y.gif) no-repeat;}
.middle-y li{float:left; border:0px; list-style-type: none; text-align:left; padding-top:5px; color:#ffffff; font-weight:bold}

.left-b2{float:left; height:28px; width:7px; background: url(../Images/left-b2.gif) no-repeat;}
.middle-b2{float:left; height:28px; width:120px; background: url(../Images/middle-b2.gif) repeat;}
.right-b2{float:left; height:28px; width:7px; background: url(../Images/right-b2.gif) no-repeat;}
.middle-b2 li{float:left; border:0px; list-style-type: none; text-align:left; padding-top:5px; color:#ffffff; font-weight:bold}

.topHost2{width: 226px;float: left;margin-left: 10px;border: 1px solid #BFBFBF;}
.topHost3{width: 226px;float: left;margin-left: 10px;border: 1px solid #BFBFBF;}
.topHost4{width: 228px;float: left;margin-left: 10px;border: 1px solid #BFBFBF;}

.newSite{width: 958px;float: left;border: 1px solid #BFBFBF;}
.friend{width: 958px;float: left;}
.friend a{FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none}
.friend a:hover{FONT-SIZE: 12px; COLOR: #FF7718; TEXT-DECORATION: none}

.footer{width: 958px;float: left;text-align: center;}
.footer li{height:15px;line-height:15px}
.footer li a{color:#000000;text-decoration:none}
.footer li a:hover{color:#FF0000;text-decoration:none}

.tuijianLeft{width: 343px;float: left;border: 1px solid #5387FB;}
.tuijianRight{width: 343px;float: right;margin-left: 10px;border: 1px solid #A563FD;}
.clear{clear: both;}
.clearLeft{clear:left}
.clearRight{clear:right}

.top10{PADDING-LEFT: 2px; PADDING-BOTTOM: 2px;FONT-SIZE: 12px; FLOAT: left; width: 100%;TEXT-ALIGN: left;list-style-type: none;}
.top10Score{PADDING-LEFT: 2px; FONT-SIZE: 12px; TEXT-ALIGN: right;list-style-type: none;}

.vhost{background-color: #e2ead2;text-align: center;float: left;height: 145px;width: 25px;}

.controlButton{width: 70px;float: left;}

.regionSearch{width:250px;padding-left:20px;padding-right:10px;}
.regionSearch li{width:40px; float:left;padding-top:2px;}
.regionSearchSpan{color:red;height:50px;width:100px;border-bottom:1px solid #BFBFBF;}

.productLista{width: 958px;float: left;margin-top: 10px;border: 0px solid #FF7300;}
.productLista a{FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none}
.productLista a:hover{font-size:12px; color:#FF0000}

.vhost-list{width: 956px; float: left; border: 1px solid #3595E6;}
.vps-list{width: 956px; float: left; border: 1px solid #A2B03F;}
.all-list{width: 956px; float: left; border: 1px solid #893AB5;}
.tuo-list{width: 956px; float: left; border: 1px solid #780015;}
.hz-list{width: 956px; float: left; border: 1px solid #FF7300;}
.domain-list{width: 956px; float: left; border: 1px solid #4970B2;}
.mail-list{width: 956px; float: left; border: 1px solid #1F88E3;}

.productList{width: 958px;float: left;margin-top: 10px;border-left: 0px solid #BFBFBF;border-right: 1px solid #BFBFBF;border-top: 1px solid #BFBFBF;border-bottom: 1px solid #BFBFBF;}
.productListContent{width: 958px;height: 164px;float: left;border-top: 0px solid #BFBFBF;border-left: 0px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 0px solid #BFBFBF;BACKGROUND-COLOR: #F1F9FC;}
.productListContent_A{width: 315px;height: 175px;float: left;border-top: 0px solid #BFBFBF;border-left: 0px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 0px solid #BFBFBF;BACKGROUND-COLOR: #F1F9FC;}
.productListContent_B{width: 326px;height: 175px;float: left;border-top: 0px solid #BFBFBF;border-left: 0px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 0px solid #BFBFBF;BACKGROUND-COLOR: #F1F9FC;}
.productListContent_C{width: 315px;height: 175px;float: right;border-top: 0px solid #BFBFBF;border-left: 0px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 0px solid #BFBFBF;BACKGROUND-COLOR: #F1F9FC;}

.productListContent_A li{list-style-type: none;}
.productListContent_B li{list-style-type: none;}
.productListContent_C li{list-style-type: none;}

.tabLeftBtn_vhost{height: 20px;margin-bottom: 2px;border-top: 0px solid #BFBFBF;border-left: 1px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 1px solid #BFBFBF;}
.tabLeftBtn_vhost li{color: green;PADDING-LEFT: 2px;padding-top: 4px; FONT-SIZE: 12px; FLOAT: left; TEXT-ALIGN: left;list-style-type: none;	}
.tabLeftBtn_vps{height: 20px;margin-bottom: 2px;border-top: 1px solid #BFBFBF;border-left: 1px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 1px solid #BFBFBF;}
.tabLeftBtn_vps li{color: green;PADDING-LEFT: 2px;padding-top: 4px; FONT-SIZE: 12px; FLOAT: left; TEXT-ALIGN: left;list-style-type: none;	}

.tabLeftBtn_all{height: 20px;margin-bottom: 2px;border-top: 1px solid #BFBFBF;border-left: 1px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 1px solid #BFBFBF;}
.tabLeftBtn_all li{color: green;PADDING-LEFT: 2px;padding-top: 4px; FONT-SIZE: 12px; FLOAT: left; TEXT-ALIGN: left;list-style-type: none;	}

.tabLeftBtn_tuo{height: 20px;margin-bottom: 2px;border-top: 1px solid #BFBFBF;border-left: 1px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 1px solid #BFBFBF;}
.tabLeftBtn_tuo li{color: green;PADDING-LEFT: 2px;padding-top: 4px; FONT-SIZE: 12px; FLOAT: left; TEXT-ALIGN: left;list-style-type: none;	}

.tabLeftBtn_jg{height: 20px;margin-bottom: 2px;border-top: 1px solid #BFBFBF;border-left: 1px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 1px solid #BFBFBF;}
.tabLeftBtn_jg li{color: green;PADDING-LEFT: 2px;padding-top: 4px; FONT-SIZE: 12px; FLOAT: left; TEXT-ALIGN: left;list-style-type: none;	}

.tabLeftBtn_domain{height: 20px;margin-bottom: 2px;border-top: 1px solid #BFBFBF;border-left: 1px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 1px solid #BFBFBF;}
.tabLeftBtn_domain li{color: green;PADDING-LEFT: 2px;padding-top: 4px; FONT-SIZE: 12px; FLOAT: left; TEXT-ALIGN: left;list-style-type: none;	}

.tabLeftBtn_mail{height: 20px;border-top: 1px solid #BFBFBF;border-left: 1px solid #BFBFBF;border-right: 0px solid #BFBFBF;border-bottom: 0px solid #BFBFBF;}
.tabLeftBtn_mail li{color: green;PADDING-LEFT: 2px;padding-top: 4px; FONT-SIZE: 12px; FLOAT: left; TEXT-ALIGN: left;list-style-type: none;	}

.tabCon{width: 857px;margin: 0px;border: 0px;}

/*menu*/
.menu{border: 1px solid #8B8B8B;}
.menuTitle{background-color: #EAE9DB;font-weight:bold;height: 25px;padding-left:10px;}
.menuLink{height: 25px;padding-left:10px;TEXT-DECORATION: none;cursor: hand;}
.menuSelected{background-color:#7DA721; color:#fff;TEXT-DECORATION: none;}

/*the menu of index*/
.bg1 {BORDER-RIGHT: #293622 0px solid; BACKGROUND: #ffffff; BORDER-LEFT: #293622 0px solid; WIDTH: 100%;}
.bg2 {WIDTH: 100%; HEIGHT: 28px}

/*#3671A5*/
/*fe9d01*/
.dk1 {float:left;TEXT-ALIGN: center}
.dk1 A {FONT-WEIGHT: bold;BACKGROUND: #6293BB; FLOAT: left; WIDTH: 135px; COLOR: #ffffff; LINE-HEIGHT: 26px; TEXT-DECORATION: none}
.dk1 A:hover {FONT-WEIGHT: bold; BACKGROUND: #2E608D; TEXT-DECORATION: none}
.dk1 A:active {FONT-WEIGHT: bold; BACKGROUND: #2E608D; TEXT-DECORATION: none}
.dk1 A.this {FONT-WEIGHT: bold; BACKGROUND: #2E608D}
.menu_separator{float:left;width:1px;border:0px solid}

.number1 {FLOAT: left; WIDTH: 14px; COLOR: #000000; LINE-HEIGHT: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #F0F4F6; TEXT-ALIGN: center}
.number2 {FLOAT: left; WIDTH: 20px; COLOR: #000000; LINE-HEIGHT: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #FFF5DF; TEXT-ALIGN: center;padding-left:5px}
.number3 {FLOAT: left; WIDTH: 14px; COLOR: #ffffff; LINE-HEIGHT: 15px; HEIGHT: 14px; BACKGROUND-COLOR: #ff9900; TEXT-ALIGN: center}

.hc1{float:left;padding-bottom:5px;width:14px;}
.hc2{float:left;padding-bottom:5px;padding-left:5px;width:490px;}
.hc3{float:left;padding-bottom:5px;padding-right:5px;width:65px;}
.hc4{float:left;padding-bottom:5px;padding-right:5px;width:65px;}
.hc5{float:left;padding-bottom:5px;padding-right:5px;width:60px;}
.hc6{float:left;padding-bottom:5px;padding-right:5px;width:60px;}
.hc7{float:left;padding-bottom:5px;padding-right:5px;width:40px;}
.hc8{float:left;padding-bottom:5px;padding-right:5px;width:40px;}
.hc9{float:left;padding-bottom:5px;padding-right:5px;width:40px;}
.hc10{float:left;padding-bottom:5px;padding-right:5px;width:40px;}

.c1{float:left}
.c2{float:left;padding-left:5px;width:490px;}
.c3{float:left;padding-right:5px;width:65px;}
.c4{float:left;padding-right:5px;width:65px;}
.c5{float:left;padding-right:5px;width:60px;}
.c6{float:left;padding-right:5px;width:60px;}
.c7{float:left;padding-right:5px;width:40px;}
.c8{float:left;padding-right:5px;width:40px;}
.c9{float:left;padding-right:5px;width:40px;}
.c10{float:left;padding-right:5px;width:40px;}

.latestComment{float:left;padding-left:20px;padding-top:3px;color:#999999}
.latestComment a{color:#999999}

.itemTitle{background:#FDFAF7 none repeat scroll 0 0;border:1px solid #FDE5D3;height:20px;margin-top:2px;padding:3px 0;position:relative;FONT-WEIGHT: bold;}
.item{border-bottom:1px dashed #CCCCCC;margin-top:2px;min-height:45px;padding:3px 0;position:relative;}

.index_left{border:1px solid #F5B669;width:698px;float:left}
.index_left_title_bg{background:#FFF5DF url(../images/modbg_v4_6_0.gif) repeat-x scroll 0 0}

.index_left_list{height:50px;}
.index_left_newping{padding-left:30px;height:22px;width:660px;color:#999999;line-height:22px;border-bottom:1px dashed #CCCCCC;display:block;overflow:hidden;float:left}
.index_left_newping a{color:#999999;text-decoration:none}
.index_left_newping a:hover{color:#000000;text-decoration:none;}

.index_left_list_ads{padding-left:3px;padding-top:5px;padding-bottom:5px;height:50px}

.index_footer{width:100%;float: left;text-align: center;margin-top:10px}

.i1{font-weight:bold;float:left;width:30px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;padding-left:5px}
.i2{font-weight:bold;float:left;width:483px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;}
.i3{font-weight:bold;float:left;width:60px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}
.i4{font-weight:bold;float:left;width:60px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}
.i5{font-weight:bold;float:left;width:60px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}

.ii1{float:left;width:30px;height:22px;line-height:22px;}
.ii2{color:#000000;float:left;width:483px;height:22px;padding-left:10px;line-height:22px;}
.ii2 a{color:#003399;text-decoration:none;}
.ii2 a:hover{color:#ff0000;text-decoration:underline;}
.ii2 a:visited{text-decoration:none;}
.ii3{float:left;width:60px;height:22px;line-height:22px;TEXT-ALIGN: center;overflow:hidden}
.ii4{float:left;width:60px;height:22px;line-height:22px;TEXT-ALIGN: center}
.ii5{float:right;width:55px;height:22px;line-height:22px;TEXT-ALIGN: center}
.ii5 a{color:#088117}
.ii5 a:hover{color:#000000}

.rank_tip{background-color:#F5F5F5;height:25px;line-height:25px;padding-left:5px}
.rank_index_left{border:1px solid #B5CDD9;width:240px;float:left;margin-bottom:5px}
.rank_index_middle{border:1px solid #B5CDD9;width:240px;float:left;margin-bottom:5px;margin-left:110px;margin-right:110px}
.rank_index_right{border:1px solid #B5CDD9;width:240px;float:right;margin-bottom:5px}
.index_right{border:1px solid #B5CDD9;width:248px;float:right;margin-bottom:10px}
.index_right_list{padding-left:5px;float:left}
.index_right_title{float:left;height:25px;border-bottom:1px solid #B5CDD9;width:248px;font-weight:bold;margin-bottom:3px;line-height:25px;padding-left:5px;background:#F0F4F6 url(../images/modbg_v4_6_0.gif) repeat-x scroll 0 -20px}
.index_right_company{float:left;height:20px;width:140px;padding-left:5px;display:block;line-height:20px;overflow:hidden}
.index_right_date{float:right;height:20px;width:74px;padding-right:5px;display:block;line-height:20px}

.common_input{border:1px solid #4DA3DC;font-size:12px}
.common_input_on{border:1px solid #FF0000;background-color:#FFF7CE;font-size:12px}

.add-form{border:1px solid #999999;width:948px;}
.add_comment_div{height:235px;width:670px}
.add_comment_name{border:1px solid #4DA3DC;height:18px;padding-top:3px;font-size:12px}
.add_comment_name_on{border:1px solid #FF0000;background-color:#FFF7CE;height:18px;padding-top:3px;font-size:12px}
.add_comment_title{border:1px solid #4DA3DC;height:18px;padding-top:3px;font-size:12px}
.add_comment_title_on{border:1px solid #FF0000;background-color:#FFF7CE;height:18px;padding-top:3px;font-size:12px}
.add_comment_content{border:1px solid #4DA3DC;font-size:12px}
.add_comment_content_on{border:1px solid #FF0000;background-color:#FFF7CE;font-size:12px}

.dianping-bottom{border:1px solid #999999;height:220px;width:650px;padding-left:5px}
.dianping-top{border:1px solid #999999;padding-left:5px}
.product-detail-div{border:1px solid #999999;width: 953px;padding-left:5px}
.product-detail-div a{text-decoration:none; color:#333}
.product-detail-div a:hover{color:#ff0000;text-decoration:underline;}

.tm{float:left;height:25px;line-height:25px;background-color:#F5FAFE;width:100%;border-bottom:1px solid red}
.tt{float:left;font-weight:bold;font-size:14px;margin-left:5px}

.add-idc-div{float:left;width:80px;padding-right:5px}
.add-idc-div2{float:left;width:120px;padding-right:5px}
.star-span{float:left;margin-left:3px;margin-right:3px;color:red}

.rate-text{height:25px;line-height:25px;float:left}

.commenter-span{width:750px;float:left;}
.woyaodianping-span{color:red;font-weight:bold;width:90px;float:right;}
.woyaodianping-span2{color:red;font-weight:bold;width:90px;}
.woyaodianping-span a{color:red};
.woyaodianping-span a:hover {color:red;text-decoration:underline;}

.dianping-content-span{color:#000000;display:block;padding-top:5px;padding-bottom:5px;clear:both}
.add-ok{border:1px solid #999999;width: 958px;height:400px;line-height:400px;margin:auto;color:red;font-size:15px;text-align:center;}

.name_index_left{border:1px solid #B5CDD9;width:120px;float:left;margin-bottom:5px}
.name_index_title{float:left;height:25px;border-bottom:1px solid #B5CDD9;width:120px;font-weight:bold;margin-bottom:3px;line-height:25px;padding-left:5px;background:#F0F4F6 url(../images/modbg_v4_6_0.gif) repeat-x scroll 0 -20px}
.name_index_left_address{float:left;width:100px;margin-top:3px;margin-bottom:3px;margin-left:10px}
.name_index_left_address a{color:#A72700;text-decoration:none;}
.name_index_left_address a:hover{color:#FF0000;text-decoration:underline}

.name_index_left_address_selected{float:left;width:120px;margin-top:3px;margin-bottom:3px;padding-left:10px;background-color:#FFF7CE}
.name_index_left_address_selected a{color:#FF0000;text-decoration:none;font-weight:bold;}
.name_index_left_address_selected a:hover{color:#FF0000;text-decoration:underline}

.name_index_right{border:1px solid #F5B669;width:950px; float:right}
.name_index_right_title_bg{border-bottom:1px solid #F5B669;background:#FFF5DF url(../images/modbg_v4_6_0.gif) repeat-x scroll 0 0}
.name_index_right_list{height:25px}
.name_number{FLOAT: left; WIDTH: 40px; COLOR: #000000; LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: center}
.name1{float:left;width:350px; LINE-HEIGHT: 20px; HEIGHT: 20px;}
.name1 a{color:#0F2672;text-decoration:none}
.name1 a:hover{color:#FF0000;text-decoration:underline}

.name2{float:left;width:80px; LINE-HEIGHT: 25px; HEIGHT: 25px;TEXT-ALIGN: center}
.name3{float:left;width:80px; LINE-HEIGHT: 25px; HEIGHT: 25px;TEXT-ALIGN: center}
.name4{float:right;width:50px; LINE-HEIGHT: 25px; HEIGHT: 25px;TEXT-ALIGN: center}
.name5{float:right;width:50px; LINE-HEIGHT: 25px; HEIGHT: 25px;TEXT-ALIGN: center}
.name6{float:right;width:50px; LINE-HEIGHT: 25px; HEIGHT: 25px;TEXT-ALIGN: center}
.name7{float:right;width:50px; LINE-HEIGHT: 25px; HEIGHT: 25px;TEXT-ALIGN: center}
.name8{float:right;width:50px; LINE-HEIGHT: 25px; HEIGHT: 25px;TEXT-ALIGN: center}

.toolsDiv{width: 958px;margin-top: 10px;border: 1px solid #F88B28;}
.brandsDiv{width: 958px;margin-top: 10px;border: 1px solid #F88B28;}
.brands-list{width:180px; height:60px;float:left;list-style-type: none;border:0;display:block;padding-right:5px;padding-left:6px;padding-top:3px;padding-bottom:3px}

.sitesLeftDiv{float:left;width: 700px;margin-top: 0px;border: 1px solid #F88B28;}
.sites_title_bg{background:#FFF5DF url(../images/modbg_v4_6_0.gif) repeat-x scroll 0 0}
.sites_list{height:22px;}
.site1{font-weight:bold;float:left;width:200px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;padding-left:5px}
.site2{font-weight:bold;float:left;width:100px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;}
.site3{font-weight:bold;float:left;width:100px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}
.site4{font-weight:bold;float:left;width:70px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}
.site5{font-weight:bold;float:left;width:70px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}
.site6{font-weight:bold;float:left;width:70px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}
.site7{font-weight:bold;float:left;width:65px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN: center}
.site8{font-weight:bold;float:right;width:100px;height:25px;border-bottom:1px solid #F5B669;line-height:25px;TEXT-ALIGN:center;padding-right:5px}

.site11{float:left;width:200px;height:22px;line-height:22px;padding-left:5px}
.site22{color:#000000;float:left;width:100px;height:22px;line-height:22px;}
.site22 a{color:#003399;text-decoration:none;}
.site22 a:hover{color:#ff0000;text-decoration:underline;}
.site22 a:visited{text-decoration:none;}
.site33{float:left;width:100px;height:22px;line-height:22px;TEXT-ALIGN: center;overflow:hidden}
.site44{float:left;width:70px;height:22px;line-height:22px;TEXT-ALIGN: center}
.site55{float:left;width:70px;height:22px;line-height:22px;TEXT-ALIGN: center}
.site55 a{color:#088117}
.site55 a:hover{color:#000000}
.site66{float:left;width:70px;height:22px;line-height:22px;TEXT-ALIGN: center}
.site77{float:left;width:60px;height:22px;line-height:22px;TEXT-ALIGN: center}
.site88{float:right;width:100px;height:22px;line-height:22px;TEXT-ALIGN:left;padding-right:5px}

.sitesRightDiv{float:right;width:242px}

.sites_items{border-bottom:1px solid #999999;padding-bottom:5px;padding-top:5px}
.sites_latest_img{float:left;width:120px}
.sites_latest_item{float:left;width:115px}
.sites_latest_item li{color:#555555;line-height:11px;list-style-image:none;}

.topicDiv{width: 960px;margin-top: 10px;}
.topicDiv_dash{height:25px;margin-top:10px;margin-bottom:10px;margin-right:10px;border-bottom:1px dashed #CCCCCC;display:block;text-align:right;}
.topicDivLeft{width:698px;float:left;border: 1px solid #F88B28;margin-bottom:10px}
.topicDivLeft ul {overflow: hidden;}
.topicDivLeft ul li{height:30px;line-height:30px;padding:0 10px 0 20px;border-bottom:1px dashed #CCCCCC;background: url(../images/topic_common.gif) no-repeat 5px center;}
.topicDivLeft ul li a{color:#000000;text-decoration:none}
.topicDivLeft ul li a:hover{color:#FF0000;text-decoration:underline}
.topicDivLeft ul li span {float:right;color:#555;}

.topicDivLeft-frame{width:620px;float:left;border: 0px solid #F88B28;}
.topicDivLeft_VM_span{float:left;height:25px;line-height:25px;padding-left:5px;width:618px;font-weight:bold;border-bottom:1px solid #F88B28;}
.topicDivLeft_view{width:698px;float:left;border: 1px solid #AABBCC;background:#FAFAFA none repeat scroll 0 0}
.topicDivLeft_view_title{width:620px;height:50px;line-height:30px;font-weight:bold;text-align:center;}
.topicDivLeft_view_title h1{color:#CC3300;font-family:tahoma;font-size:15px;padding:4px 0;text-align:center;width:575px;height:25px;overflow:hidden}
.topicPreviewDiv{width:640px;border: 1px solid #AABBCC;background:#FAFAFA none repeat scroll 0 0}


.topicDivLeft_view_context{width:620px;margin-left:5px;margin-right:5px;line-heitht:20px}
.topicDivLeft_img{float:left;display:block;width:10px}
.topicDivLeft_title{float:left;display:block;width:450px;overflow:hidden;height:18px}
.topicDivLeft_time{float:right;display:block;width:80px}
.topic_footer{width: 615px;float: left;text-align: center;margin-top:10px;}


.topicDivRight{width:248px;float:right;border: 1px solid #F88B28;}
.topicDivRight_span{display: block;height:30px;line-height:30px;text-indent:5px;font-weight:bold;border-bottom:1px solid #F88B28;}
.topicDivRight li{width:238px;height:24px;line-height:24px;padding:0 5px;overflow:hidden;}
.topicDivRight li a{color:#000000;text-decoration:none}
.topicDivRight li a:hover{color:#FF0000;text-decoration:underline}

.topic-ads-view-content{float:left;padding:5px;min-height:550px;}
.topic-ads-view-content a{color:blue}
.topic-ads-view-content a:hover{color:#FF0000}

.tools_index_left{border:1px solid #B5CDD9;width:120px;float:left;margin-bottom:5px}
.tools_index_right{border:1px solid #F5B669;width:820px; float:right;padding-left:5px;padding-right:5px}

.button1{
	width: 82px;
	/* [disabled]height:25px; */
	background: url(../Images/btn-1.gif) no-repeat top left;
	color: #000000;
	border: 0px;
}
.button2{width:82px;height:25px;background: url(../Images/btn-2.gif) no-repeat top left;color: #000000;border: 0px;}
.button3{width:82px;height:25px;background: url(../Images/btn-3.gif) no-repeat top left;color: #000000;border: 0px;}

.maoTop{float:right;width:30px}
.maoTop a{FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none}
.maoTop a:hover{FONT-SIZE: 12px; COLOR: #FF7718; TEXT-DECORATION: none}

.add_comment_start{width:130px;float:left}
.add_comment_start_desc{width:70px;float:left;height:22px;line-height:22px;color:#FF0000;font-weight:bold;}

jquery 图片轮换效果 
img {border:0}
#pic{margin:0px;overflow:hidden;width:760px;height:50px;cursor:pointer;}
#play{position:absolute;margin-left:700px;margin-top:-10px;}
#play a{text-decoration: none;border:1px solid #CEDEF7;background-color:#E8FCEB;width:10px;height:10px;color:#2F49DF;display:block;float:left;text-align:center;line-height:10px;margin-right:3px;}

.jinjiaCompanyStyle{color:#FF0000;font-weight:bold;}
.jinjiaCompanyStyle a{color:#FF0000;font-weight:bold;}
.jinjiaCompanyStyle a:hover{color:#088117;font-weight:bold;}
.jinjiaCompanyStyleNumber {FLOAT:left; WIDTH:16px; COLOR:#000000; LINE-HEIGHT:16px; HEIGHT:16px;TEXT-ALIGN:center;padding-left:5px;padding-top:4px}


.speed_test_index_left{border:1px solid #B5CDD9;width:200px;float:left;margin-bottom:5px}
.speed_test_index_left_title{float:left;height:25px;border-bottom:1px solid #B5CDD9;width:200px;font-weight:bold;margin-bottom:3px;line-height:25px;padding-left:5px;background:#F0F4F6 url(../images/modbg_v4_6_0.gif) repeat-x scroll 0 -20px}
.speed_test_index_center{border:1px solid #F5B669;width:740px; float:left;margin-left:15px;}
.speed_test_index_right{border:1px solid #B5CDD9;width:120px;float:right;margin-bottom:5px}

.speed_test_index_left_site{float:left;width:160px;margin-top:3px;margin-bottom:3px;margin-left:10px;height:18px;line-height:18px;overflow:hidden}
.speed_test_index_left_site a{color:#A72700;text-decoration:none;}
.speed_test_index_left_site a:hover{color:#FF0000;text-decoration:underline}

.speed_test_index_right_valueTitle{margin:auto;height:25px;line-height:25px;font-weight:bold;color:#BC2931;margin-bottom:5px;border-bottom:1px solid #CCCCCC;}
.speed_valueTitle1{width:50px;float:left}
.speed_valueTitle2{width:110px;float:left}
.speed_valueTitle3{width:350px;float:left}
.speed_valueTitle4{width:140px;float:right}

.selectComment{background-color:#B3E538}

.dropdown-select{border:solid 1px #5BB1D6;width:80px;height:18px;line-height:18px;background:url(../Images/select_down.gif) right top no-repeat;}
.applyDeleteComment{color:#000000;width:200px;float:right;text-align:right;padding-right:3px}
.applyDeleteComment a{color:#088117}
.applyDeleteComment a:hover{color:#FF0000}

.blogIndexLeft{float:left;width:740px;border:0px solid red}

.blogIndexRight{float:right;width:210px;border:0px solid red}

.textBox{background-color:#F9FCFE;border:1px solid #99D202;clear:both;margin-bottom:5px;padding-top:0;text-align:left;}
.textBoxTitle{background-color:#ECF8CC;border-bottom:1px solid #B5DD4B;font-size:13px;margin-top:3px;padding-bottom:3px;padding-left:0;}
.textBoxTitle h4{color:#ff0000;word-wrap:break-word; padding-left:5px; font-size:16px; font-weight:bold; display:inline;width:300px;}
.textBoxTitle h4 a{color:#000000;}
.textBoxTitle h4 a:hover{color:#FF0000;TEXT-DECORATION: underline;}

.textBoxTitle span{color:#666666;font-size:12px;}
.textBoxContent{word-wrap:break-word; padding-left:10px; padding-right:10px;padding-top:5px; margin-bottom:5px;border:0px solid red}
.textBoxContent a{color:#000000}
.textBoxContent a:hover{color:#FF0000;TEXT-DECORATION: underline;}

.textBoxBottom{font-size:12px !important;font-size: 11px; text-decoration: none;padding:5px;color:#666; font-size:11px; border-top:1px dashed #7DA721;}
.textBoxTags{padding-top: 1px; padding-bottom: 3px; font-size:12px !important; font-size: 11px; color: #666666; text-align:left;padding-left: 10px;height:25px;line-height:25px}
.textBoxTags a{color:#FF0000}
.textBoxTags a:hover{color:#FF6600;TEXT-DECORATION: underline;}

.panel{padding-top:0px; margin-bottom:5px;border:1px solid #9BDF70;}
.panel h5{padding:0px; margin:0px; color:#666; font-size:12px;background-color: #E7F3DE;border-bottom: 1px solid #9BDF70;height: 24px;line-height:24px}
.panel-content{padding:0px; color:#7DA721; height:100%;}
.panel-content li{padding: 2px 0 0 5px;list-style: none;width:200px;height:20px;line-height:20px;display:block;overflow:hidden;float:left;}
.panel-content li a{color:#000000}
.panel-content li a:hover{color:#FF0000}

.blogPageBar{background-color:#E5EFFB;line-height:30px;overflow:hidden;}
.pre-next{float:left;height:25px;overflow:hidden;}
.pre-next a{color:#999999}
.pre-next a:hover{color:#FF0000}
.blog-pre{float:left;width:365px;text-align:left;overflow:hidden;height:17px;}
.blog-next{float:right;width:365px;text-align:right;overflow:hidden;height:17px}

.move_cuxiao{float:left;border:0px solid red}
.move_cuxiao li {float: left;}
.move_cuxiao ul { list-style: none; margin: 0px; padding: 0px;}
.move_cuxiao .l1 {width:100%;padding-left:5px;padding-bottom:3px;overflow:hidden;height:18px;line-height:18px;}

.login-left{FONT-SIZE: 12px;float:left;width:450px;border:0px solid red;padding-left:20px;padding-top:30px;padding-bottom:20px}
.login-left_title {FONT-SIZE: 14px;font-weight:bold;border-bottom:1px solid #BBBBBB;margin-bottom:15px;padding-bottom:15px}
.login-left .field-item{float:left;padding-bottom:10px}
.login-left span{float:left}
.login-left label{font-weight:bold;padding-botom:5px}

.login-right{float:right;width:420px;padding-left:50px;border-left:1px solid #DDDDDD;text-aglin:left;;padding-top:30px;padding-bottom:20px}
.login-right_title {FONT-SIZE: 14px;font-weight:bold;border-bottom:0px solid #BBBBBB;margin-bottom:10px;}
.login-right ul {margin: 0px; padding: 0px;}
.login-right li{color:#555555;line-height:20px;list-style-image:none;list-style-position:outside;list-style-type:circle;margin-left:20px}
.regBtn{border-bottom:1px solid #DDDDDD;padding-bottom:15px;margin-bottom:15px}

.manager_contain{width:960px;border:1px solid #9EC9EC;overflow:auto;margin-top:10px}
.manager_toolBar{background:#F4FBFF none repeat scroll 0 0;float:left;padding:1px;width:178px;}
.manager_toolBar ul{margin-bottom:5px; padding-left:0px; background:#f4fbff; zoom:1;}
.manager_toolBar li{height:25px}
.manager_toolBar li a {color:#225D97;width:154px; padding:3px 0 2px 24px; background:url('../Images/li_toolbox.png') no-repeat 12px 0; border-top:1px solid #f4fbff; border-bottom:1px solid #f4fbff; display:block; }
.manager_toolBar li a:hover { text-decoration:underline; background:#fff9cc url('../Images/li_toolbox.png') no-repeat 12px -25px;}
.manager_toolBar li a:visited{text-decoration:none;}
.manager_toolBar li a.current { font-weight:bold; color:#ff5400; width:155px; padding:3px 0 2px 22px; right:-2px; position:relative; background:#fff url('../Images/li_toolbox.png') no-repeat 10px -51px;border-left:1px solid #9ec9ec; border-top:1px solid #9ec9ec; border-bottom:1px solid #9ec9ec; border-right:1px solid #fff; }
.manager_toolBar li a:hover.current { background:#fff url('../Images/li_toolbox.png') no-repeat 10px -51px; text-decoration:none; }

.manager_toolBar { width:178px; padding:1px; _padding-right:0; background:#f4fbff; float:left; }
.manager_toolBar h2 { color:#4775b1; height:30px; line-height:30px; padding:2px 0 0 28px; border-bottom:1px solid #c4deff; }
h2.buyer { background:#e3efff url('../Images/h2_toolbox.png') no-repeat 6px 0;}
h2.seller { background:#e3efff url('../Images/h2_toolbox.png') no-repeat 6px -30px;}
h2.money { background:#e3efff url('../Images/h2_toolbox.png') no-repeat 6px -60px;}
h2.security { background:#e3efff url('../Images/h2_toolbox.png') no-repeat 6px -90px;}
h2.msgcenter{background:#E3EFFF url('../Images/h2_toolbox.png') no-repeat scroll 6px -120px;}

.manager_main{float:right;min-height:530px;padding:5px;width:762px;}

.msgbox { margin:10px 0 15px 0; zoom:1; }
.msgbox dl dd { float:left; display:block; height:24px; line-height:24px; padding:0 6px; }
.msgbox dl dd a { padding:0 6px; display:inline-block; background:#cee2f4; border-left:1px solid #e9f2fa; border-top:1px solid #e9f2fa; border-right:1px solid #88abca; border-bottom:1px solid #88abca; }
.msgbox dl dd.current { font-weight:bold; }
.msgbox dl dd.current a { font-weight:bold; color:#fff; background:#1973c3; border-left:1px solid #9cccf6; border-top:1px solid #9cccf6; border-right:1px solid #0a4b84; border-bottom:1px solid #0a4b84; }
.msgbox_pages { background:#eef5ff; }
#msg_write { margin:15px 6px; }

/* 我要提现 & 修改资料 */
.pickup, .edit, .tx_msg { margin:5px; }
.pickup h2, .edit h2 { height:33px; position:relative; margin-bottom:-1px; }
.pickup h2 span.tx, .pickup h2 span.current, .edit h2 .select { margin-right:8px; padding:8px 20px; text-align:center; background:#f4fbff; border:1px solid #c4deff; border-bottom:none; display:block; float:left; }
.edit h2 a:hover { text-decoration:none; }
.edit h2 a.tabpane { color:#777; margin-right:8px; padding:8px 20px 7px 20px; background:#f8f8f8; border:1px solid #eee; border-bottom:none; display:block; float:left; cursor:pointer; }
.pickup h2 span.sz a { font-weight:normal; padding:9px 0 0 8px; display:block; float:left; }
.pickup_money, .bank_setting, .editinfo { padding:10px; background:#f4fbff; border:1px solid #c4deff; overflow:auto; zoom:1; clear:both; }
.pickup_money dl, .bank_setting dl, .editinfo dl { line-height:28px; padding:10px; background:#fff; border:1px solid #dfedff; }
.pickup_money dl.txinfo, .bank_setting dl.bank_now { width:350px; height:100%; float:left; }
.pickup_money dl dd { font-size:14px; }
.pickup_money dl dd a, .pickup_money dl.bankinfo dd { font-size:12px; }
.pickup_money dl dd.balance { font-size:12px; color:#888; padding-left:70px; }
.pickup_money dl dd.balance span { color:#ff5400; }
.pickup_money dl dd.next, .bank_setting dl dd.next { margin-top:5px; padding-left:70px; }
.pickup_money dl.bankinfo { width:300px; float:right; }
.pickup_money dl.bankinfo dt { font-weight:bold; margin-bottom:3px; padding-bottom:1px; border-bottom:1px solid #dfedff; }
.pickup_money dl.bankinfo dd { padding-left:10px; }
p.tx_success, p.tx_faild, p.tx_normal { font-weight:bold; line-height:28px; margin:8px 0; padding-left:26px; }
p.tx_success { color:#449100; background:#f1ffe3 url('../images/pickup_s.png') no-repeat 8px 8px; border:1px solid #b0e494; }
p.tx_faild { color:#f34a22; background:#fffbe8 url('../images/pickup_i.png') no-repeat 8px 8px; border:1px solid #efc59d; }
p.tx_normal { color:#bf865c; background:#fffade url('../images/pickup_i.png') no-repeat 8px 8px; border:1px solid #ddc750; }

.rep {border-bottom:1px solid #CAE1F4;height:52px;line-height:26px;margin-bottom:12px;padding:0 10px 12px;}

.dealing li a { margin:0 3px; }
.dealing ul { padding:15px 30px; }
.dealing h2 { margin:10px 0; padding:10px; background:#e3efff; border-top:1px solid #9ec9ec; }
.dealing p { line-height:28px; padding:0 10px; }
.dealing p strong { color:#ff5400; margin:0 3px; }

.product_list { margin:5px 5px; border:1px solid #c4deff; overflow:auto; clear:both; }
.product_list dl { display:block; clear:both; border-top:1px solid #c4deff; overflow:auto; zoom:1; }
.product_list dl:hover { color:#3a5e73; background:#eef5ff; }
.product_list dd { vertical-align:middle; padding:8px 6px; float:left; display:block; }
dl.list_title { height:32px; line-height:32px; background:#e3efff; border-top:none; }
dl.list_title dd { font-weight:bold; padding:0 6px; }
dl.list_title dd img { padding-top:6px; }

.apply-links-div{padding-left:30px;width:950px;float:left}

p.inner{padding:0 0 0 15px;}
.extend{color:#666;font-weight:bold;margin:15px 0 0 5px;}
.websiteCon p{padding:0 0 10px 5px;text-indent:0;}
.websiteCon h3{border-bottom:1px dotted #ccc;color:#c00;margin:15px 0;font-size:13px;line-height:24px;font-weight:bold;}

a.BBBB {font-weight:bold;color:#FF0000}
a.BBBB:hover, a.BBBB:active {font-weight:bold;-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:#6666CC none repeat scroll 0 0;color:#FFFFFF;padding:0px 0px 0;text-decoration:none;}

#reget-baidu{cursor:pointer}
#reget-google{cursor:pointer}
#reget-pr{cursor:pointer}
#reget-alexa{cursor:pointer}

.ads-red {font-weight:bold;}
.ads-red a{color:#FF0000;text-decoration:none;}
.ads-red a:hover{color:#BC2931;text-decoration:none;}

.ads-blue {font-weight:bold;}
.ads-blue a{color:#0000FF;text-decoration:none;}
.ads-blue a:hover{color:#BC2931;text-decoration:none;}

.ads-green {font-weight:bold;}
.ads-green a{color:#008000;text-decoration:none;}
.ads-green a:hover{color:#BC2931;text-decoration:none;}

.mainW{width:960px;background:#fff;}
.mainBorder{border:0px; border-top:none;}
.bav{background:url(../images/bavBg.gif) repeat-x;height:46px;line-height:40px;}
.bav li{float:left;text-align:center;width:95.5px;background:url(../images/bavLine.gif) no-repeat left;}
.bav li.first{background:none}
.bav li a{color:#fff;font-weight:bold;display:block;width:95px;}
.bav li a:hover{background:url(../images/bavThis.gif) center 2px no-repeat;}

a.chubt{ color:#FF0000; font-weight:bold}

.m21{ width:248px; margin-bottom:10px; border:1px solid #999999; height:260px;}
.mr22{ margin-right:0px; float:right}
.m21 .title{ background:#F5FAFE; height:26px; line-height:26px; border-bottom:1px solid #FF0000; background:url(../images/view-comment-title.jpg) no-repeat 10px center; text-indent:20px;}
.m22{ padding:4px 0px; width:100%;}
.m22 li a{ color:#333;}
.m22 li{ float:left; width:99%; height:22px; line-height:22px; overflow:hidden; padding:0px; margin:0px;}
.m22 li em{ float:left; margin-left:8px; font-style:normal; margin-right:6px; width:18px; height:18px; text-align:center; line-height:18px; color:#fff; background:#2568BA; font-size:10px; margin-top:4px;}
.m22 li span{ float:right; padding-right:4px;}
.m23 li{ background:url(../images/nav_ico.gif) no-repeat 8px center; text-indent:26px; }


.b61{ width:100%;}
.b61 dl{ width:20%; text-align:center; height:180px; text-align:center; overflow:hidden; float:left; font-size:12px; position:relative; line-height:28px; font-weight:bold}
.b61 dl dt{ position:absolute; left:0px; bottom:0px;}
.b61 dl dt span{ width:100%; height:26px; line-height:26px; overflow:hidden; float:left; font-weight:normal}
